@font-face{
	font-family: 'Pretendard';
	src:url('../font/PretendardVariable.woff2') format('woff2'),
	    url('../font/PretendardVariable.ttf') format('truetype');
}
@font-face{
	font-family: 'zocial';
	src:url('../font/zocial.woff') format('woff2'),
	    url('../font/zocial.ttf') format('truetype');
}
body{ 
	font-family:'zocial';
	color:black;
	background-image: url("../image/top_bg.png");
	background-repeat: no-repeat;
	background-size:100vw 100vh;
}
header{
	height: 100px;
	margin: 8px 16px 0px;
	line-height: 40px;
}
header #logo{
	float: left;
}
header #logo h1{
	font-size: 0px;
	background-image: url("../image/logo.png");
	background-size: 146px 68px;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 180px;
	height: 80px;
}
.contain{ 
	background-color:antiquewhite;
	margin:0px auto;
	width:30vw;
	height:80vh;
	border:1px dashed black;
	/*  column-count:2;
	column-gap:32px;
	column-width:250px;*/
	
}
table{ 
	width:100%;
	height:100%;
}
table .center{ 
	text-align:center;
}
button{ 
	width:90%;
	height:100%
}
.bt_td{ 
	height:10%; 
}
table a{ 
	width:60%;
	margin:8px 4px;
	font-size:13px;
	color:white;
	display:inline-block;
	border: 1px solid #777;
	border-color:rgba(0,0,0,0.2);
	border-bottom-color:rgba(0,0,0,0.4);
	background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	padding: 0 0.95em 0 0;
	border-radius:0.3em;
	box-shadow: inset 0 0.08em 0 rgb(255 255 255 / 40%), inset 0 0 0.1em rgb(255 255 255 / 90%);
	text-align:center;
	text-decoration:none; 
}
table a:before{ 
	font:120%/1.65 zocial;
	margin:0 0.5em 0 0;
	padding:0 0.5em;
	text-align:center;
}
.naver{ 
	background-color:#60af00;
}
.google{ 
	background-color:#dd4b39;
}
.facebook{ 
	background-color:#4863ae;
}
.naver:before{ 
	content:"N";
}
.google:before{ 
	content:"\f12c";
	text-align:center;
}.facebook:before{ 
	content:"\f121";
}
.phone_span{ 
	margin:0 20%;
	width:60%;
	display:inline-block;
	position:relative;
	z-index:1;
}
.phone{ 
	position: absolute;
	height:100%;
	 width:100%;
	 text-align:center;
	 color:#AFB5BB;
	 font-weight:bold;
	 font-size:1.5em;
	 display:block;
	 float:left;
	 background:transparent;
	 border-radius:0;
	 border:none;
}
.phone:focus{ 
	outline:none;

}
.phone_label{ 
	color:#6a7989;
	font-weight:bold;
	display:block;
	float:left;
	width:100%;
}
.phone_label:before, .phone_label:after{ 
	content:'' ;
	width:100%;
	height:4px;
	background:#6a7989;
	transition:transform 0.3s;
	position:absolute;
}
.phone_label:before{ 
	top:0; 
}
.phone_label:after{ 
	bottom:0; 
}
.label_span,.label_span_filled{ 
	text-align:center;
	transition:transform 0.3s; 
	position:relative;
	display:block;
	padding:1.0em 0;
}
.label_span_filled{ 
    -webkit-transform: translate3d(0, -90%, 0);
    transform: translate3d(0, -90%, 0);
}
.phone:focus +.phone_label .label_span{
    -webkit-transform: translate3d(0, -90%, 0);
    transform: translate3d(0, -90%, 0);
}