@font-face{
	font-family: 'Pretendard';
	src:url('../font/PretendardVariable.woff2') format('woff2'),
	    url('../font/PretendardVariable.woff2') format('truetype');
}
body{ 
	font-family:'pretendard';
	background:linear-gradient(180deg,#FFC887 0%,rgba(255, 255, 255, 0) 43.27%),url("../image/bottom_bg.png");
	background-position: center top,center bottom;
	background-repeat: no-repeat,no-repeat;
	background-size:100vw 100vh,100vw 50vh;
	height:97vh;
    color:#878787;
}
form{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    border:1px solid;
}
table{
    width:45%;
    height:70%;
    border:1px solid;
}
.title{
    font-size:3em;
    font-weight: 700;
    color:black;
}

input[type="text"]{
    width:94%;
    padding:18px;
    border:1px solid #F3B368;
    border-radius: 6px;
    font-size:1em;
}
input[type="text"]:focus{
    outline:none;
    border:2px solid #f1870e;
}
input[type="submit"]{
    width:100%;
    padding: 15px;
    border:none;
    border-radius: 4px;
    background-color:#F3B368 ;
    color:white;
    font-size:1em;
}
.one_td{
    width:100%;
}
.find_id{
    font-size:0.9em;
}
img{
    margin:0px 5px;
}
tr:nth-child(n+6){
    text-align: center;
}
tr:nth-child(5) td{
    padding: 6% 0 3% 0;
}