@font-face{
	font-family: 'Pretendard';
	src:url('../font/PretendardVariable.woff2') format('woff2'),
	    url('../font/PretendardVariable.woff2') format('truetype');
}
body{ 
	font-family:'pretendard';
	background-image: url("../image/top_bg.png");
	background-repeat: no-repeat;
	background-size:100vw 100vh;
}
form{ 
	display:flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
table{ 
	width:30%; 
}
.title{
	font-size:2em;
	font-weight:bold;
}
.title_description{
	font-size:0.8em;
	padding-bottom:2.5em;
}
.input_name{
	padding-top:10px;
}
form input[type=text],[type=date],[type=password]{ 
	box-shadow:2px 2px 2px 2px transparent;
	transition: box-shadow 0.3s;
	width:90%;
	border-radius:5px; 
	padding:0.8em 0 0.8em 0.8em;
	border:0.5px solid rgb(206, 205, 205);
}
form input[type=text]:focus,[type=date]:focus,[type=password]:focus{ 
	outline:none;
	box-shadow:0 0 10px rgb(211, 85, 2);
	border-radius:5px;
}
form input{
	margin-top:5px;
}
.term_content{
	height:50%;
}
.term_content_box{
	height:100%;
}
.terms_lb{
	cursor:pointer;
}
.terms{
	display:none;
}
.terms:checked + img{ 
	content:url("../image/check-box.png");
}
.terms_lb img{
	position:relative;
	top:3.4px;
	content:url("../image/blank-check-box.png");
	height:18px;
	object-fit:contain;
}

.terms_bar{
	margin-left:15px;
	display:flex; 
	align-items: center;
	font-size:0.8em;
}
.terms_bar_img{
	height:25px;
	object-fit:contain;
	cursor:pointer;
}
.term_text{
	margin-left:15px;
	width:90%;
	height:80%;
	color:rgb(128, 128, 128,0.8);
	font-size:0.9em;
}
.hidden_term_text{
	display:none;
}
form input[type=submit]{
	width:95%;
	border:none;
	background-color:rgb(128, 128, 128,0.5);
	color:white;
	height:40px;
	cursor:pointer;
	border-radius: 3px;
}