<!DOCTYPE html>
<html>
	<head>
		<!--<link type="text/css" rel="stylesheet" media="(max-width:700px)" href="css/main_mobile.css">-->
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link type="text/css" rel="stylesheet" media="(min-width:700px)" href="../css/login_test.css"></link>
		<meta charset="UTF-8">
		<title>로그인</title>

    </head>
    <body>
        <form method="post" action="#">
            <table>
                    <tr>
                        <td><span class="title">로그인</span></td>
                    </tr>
                    <tr>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>아이디 비번찾기</td>
                    </tr>
                    <tr>
                        <td><input type="submit"></td>
                    </tr>            
                    <tr>
                        <td>-----------또는---------------</td>
                    </tr>
                    <tr>
                        <td>아직계정이 없나요?</td>
                        <td>회원가입</td>
                    </tr>
                </tbody>
            </table>
        
        </form>
        
        
        <script type="text/javascript" src="../script/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="../script/login_test.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
    </body>
    </html>