<!DOCTYPE html>
<html>
	<head>
		<!--<link type="text/css" rel="stylesheet" media="(max-width:700px)" href="css/main_mobile.css">-->
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link type="text/css" rel="stylesheet" media="(min-width:700px)" href="../css/register_test.css"></link>
		<meta charset="UTF-8">
		<title>회원가입</title>
	</head>
	<body oncontextmenu=" false" ondragstart=" false" onselectstart=" false">
		<form method="post" action="#">
			<table>
				<tr>
					<td>전화번호: </td>
					<td>
						<input type="text" name="phone" class="phone" id="phone" autocomplete="off" placeholder="전화번보"/>
					</td>
				</tr>
				<tr>
					<td>이름: </td>
					<td>
						<input type="text" name="name" class="name" id="name" autocomplete="off" placeholder="이름"/>
					</td>
				</tr>
				<tr>
					<td>생년월일: </td>
					<td>
						<input type="date" name="birth" class="birth" id="birth" autocomplete="off"/>
					</td>
				</tr>
				<tr>
					<td colspan="2"><a href="#">회원가입</a></td>
				</tr>
			</table>
			<div class="term">
				<div class="terms_contains">
					<div class="contain">
						<div class="term_bar">
							<div class="box1">
								개인정보 보호법 동의
							</div>
							<div class="box2">
								<label for="terms_1">
									<input type="checkbox" name="terms_1" class="terms_detail" id="terms_1" />
									<img>
								</label>
							</div>
						</div>
						<div class="term_content">dd</div>
					</div>
					<div class="contain">
						<div class="term_bar">
							<div class="box1">
								개인정보 보호법 동의
							</div>
							<div class="box2">
								<label for="terms_2">
									<input type="checkbox" name="terms_2" class="terms_detail" id="terms_2" />
									<img>
								</label>
							</div>
						</div>
						<div class="term_content">dd</div>
					</div>
					<div class="contain">
						<div class="term_bar">
							<div class="box1">
								전체동의
							</div>
							<div class="box2">
								<label for="terms_3">
									<input type="checkbox" name="terms_3" class="terms_detail" id="terms_3" />
									<img>
								</label>
							</div>
						</div>
						<div class="term_content">dd</div>
					</div>
				</div>
				<div class="terms_checkbox">
					<label form="terms">
						<input type="checkbox" name="terms" class="terms" id="terms" />
						위 약관을 읽고 동의하시겠습니까?
					</label>
				</div>
			</div>
		</form>

		
		<script type="text/javascript" src="../script/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="../script/register_test.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>
